.descripcion{
    margin: 0 1em;
    padding: 1em;
    font-size: .75em;
    text-align:left;
    background-color: #6E6D6D;
    color: #fff;
  }
  .busCenter{
    min-height: none;
  }
  .bus-list{
    margin-top: 1em;
    text-align: center;
  }

  .marTop{
    margin-top: 1em;
  }