
.infoPrecio{
  padding: .5em;
  width: 20em;
  background-color: #FFED00;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedor-tours{
  width: 20em;
  height: 9em;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFED00;
  box-shadow: 0 3px 13px 1px rgb(0 0 0 / 50%);
}

.img{
  height: 8em;
  width: 9em;

  padding: 10px;
}

.contenedor-info-tour{
  width: 20em;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: bold;
  text-align: center;
  line-height: 1.25rem;
  padding: 10px;
}

.contenedor-nombre-tour{
  font-size: 1rem;
  padding-bottom: .25em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-descripcion{
  padding: .5em;
  font-size: .7em;
  background-color: #6E6D6D;
  color: #fff;
}

